<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Contato</title>
</head>
<body>
    
        <nav>
            <ul> 
                <li>
                    <a href="index.html">Sobre mim</a>
                </li>
                <li>
                    <a href="contato.html">Contato</a>
                </li>
            </ul>


        </nav>
        
        
        
                       
            <header class="container">
                <div class="center">
                    <img src="img/Foto.jpg"></img>
                </div>
                <br>
                <h1>Fernanda Vitório</h1>
                <h2>Desenvolvedora Web</h2>
                
            </header>
        
        <div class="container">
        <form action="https://formsubmit.co/fevitorio4@gmail.com" method="POST">
            <label for="nome">Nome</label>
            <input type="nome" name="nome" id="nome" required>
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" required>
            <label for="message">Mensagem</label>
            <input type="text" name="message" id="message" required>
            <button type="submit">Enviar</button>
            <input type="hidden" name="_next" value="https://fevitorio.github.io/thanks.html">
            <input type="hidden" name="_subject" value="New submission!">
            
     
    
        </form>

        </div>



    
    

    
</body>
</html>