<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fernanda Vitório</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <nav>
            <ul> 
                <li>
                    <a href="index.html">Sobre mim</a>
                </li>
                <li>
                    <a href="contato.html">Contato</a>
                </li>
            </ul>


        </nav>
        
        
        
        <div class="container">
                
            <header>
                <div class="center">
                    <img src="img/Foto.jpg"></img>
                </div>
                <br>
                <h1>Fernanda Vitório</h1>
                <h2>Desenvolvedora Web</h2>
                
            </header>
            <br/>
            <main>
                <section>
                    <h3>Sobre mim</h3>
                    <p>
                        Brasileira, catarinense, 41 anos. <br/>
                        Atualmente em transição de carreira, estudando HTML 5, CSS 3, JavaScript e Phyton com ElasNaTech().
                    </p>
                </section>
                <br/>
                <section>
                    <h3>Formação</h3>
                    <p>
                        Graduação em Administração de Empresas - UFSC <br>
                        Especialização em Gerenciamento na Construção Civil - UNISUL <br>
                        Cursando Desenvolvimento Web no programa Elas Na Tech() pela JA Brasil e CCR.
                    </p>
                </section> 
                
            </main>
            <footer>
                <a href="https://github.com/FeVitorio" target="_blank" rel="noopener noreferrer">
                    <img src="img/github.png"></img>
                    <p>Github</p>
                </a>
                <a href="https://www.linkedin.com/in/fernanda-vit%C3%B3rio-a17358248/" target="_blank" rel="noopener noreferrer">
                    <img src="img/linkedin.png"></img>
                    <p>Linkedin</p>
                </a>
                
            </footer>
        </div>
       
    </body>
</html>
